.components {
  padding-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  gap: 20px;
  padding: 50px;
}

.switch {
  width: 30px;
}


.switches {
  width: 100px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.inputs {
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.form {
  width: 300px;
  height: 350px;
}


.forms {
  width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  align-items: center;
  gap: 30px;
  margin: 30px;
  row-gap: 100px;
}
